#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tabla {
  width: 50%;

  float: left;
}
.tabla1,
th,
td {
  border-collapse: collapse;
  width: 50%;
  border: none;
}

.tabla2 {
  width: 50%;
  margin-left: 50px;
  float: left;
}
.container {
  float: left;
  display: flex;
  text-align: left;
  background: rgb(255, 255, 255);
  width: 1000px;
  border-radius: 8px;
}
.titulos {
  display: flex;
  color: rgb(0, 0, 0);
}
.deducciones {
  margin-left: 340px;
}
.seleccion {
  text-align: justify;
  background: rgb(198, 152, 100);
  border-radius: 10px;
}
table.seleccion {
  border: none;
  border-color: rgb(0, 0, 0);
  width: 100%;
}
select {
  color: rgb(41, 41, 41);
  background-color: rgb(237, 239, 242);
  border-radius: 10px;
  opacity: 0.8;
  font-weight: 700;
}
.celda {
  background-color: rgb(215, 215, 215);
}
.head {
  margin-top: 0%;
}
.barra {
  height: 20px;
  color: rgb(221, 221, 221);
  margin-top: -6px;
  opacity: 0.4;
}
input.label {
  color: aliceblue;
}
.barra2 {
  height: 15px;
  color: rgb(0, 0, 0);
  opacity: 0.7;
  border-radius: 5px;
  border-color: rgb(230, 229, 229);
  background: white;
}
.neto {
  margin-left: 550px;
  margin-top: 500px;
}
h1,
h2 {
  color: black;
}
.tabla1 {
  color: rgb(61, 61, 61);
}
.tabla2 {
  color: rgb(61, 61, 61);
}
.subtituloMes {
  margin: 0%;
  margin-top: -30px;
}
.presentismo {
  font-size: 22px;
  color: rgb(255, 255, 255);
}
