body {
  background: #ffffff;
}
.contenedordeboton {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-top: -25px;
}
.botoncalculadora {
  background: rgb(198, 152, 100);
  width: 130px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 14px;
  display: inline-block;
  transition: transform 0.2s;
}
.botoncalculadora:hover {
  transform: scale(1.1);
}
.container3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100;
  height: 990px;
  background: #ffffff;
  margin: 10px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
  margin-top: 0;
}

.bloc-onglets {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(67, 66, 66, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(248, 247, 247, 0.274);
  box-sizing: content-box;
  position: relative;
  color: black;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: rgb(250, 250, 251);
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}

button {
  border: none;
}
.contenu-onglets {
  flex-grow: 1;
  width: 1000px;
}
.contenu {
  background: rgb(255, 255, 255);
  padding: 0px;
  width: 100%;
  height: 100%;
  display: none;
}
.contenu h2 {
  padding: 0px 0 5px 0px;
}
.contenu hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.contenu p {
  width: 100%;
  height: 100%;
}
.active-contenu {
  display: block;
}
.tablatotal {
  color: black;
  padding: 0px;
  width: 150px;
  height: 10px;
  margin-top: 0px;
}
.tabla4 {
  border-collapse: collapse;
  border: black;
}
.tabla4,
.tablatotal {
  border: 1px solid black;
}
.cartel {
  width: 1000px;
  font-size: small;
  background-color: rgb(198, 152, 100);
  margin-top: 80px;
  margin-bottom: -20px;
  border-radius: 8px;
}
.letras {
  color: rgb(252, 252, 252);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/*  rgb(198, 152, 100); */
